form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin-bottom: 30px
}

.results {
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 75%;
  margin-bottom: 35px;
}

.results p {
  padding-left: 30px;
}


label {
  margin: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 51, 88);
  padding: .5em;
  border-radius: 5%;
  opacity: 85%;
}