form {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  margin-bottom: 5px
}

label {
  margin: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 51, 88);
  padding: .5em;
  border-radius: 5%;
  opacity: 85%;
}

input[type='radio'], input[type='checkbox'] {
  display: none;
}

.catchEm {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 35px;
}