* {
  font-family: 'Oswald', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin-bottom: 5px
}

label {
  margin: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 51, 88);
  padding: .5em;
  border-radius: 5%;
  opacity: 85%;
}

.catchEm {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
}

.results {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 85%;
  margin-bottom: 35px;
}

.results p {
  padding-left: 30px;
  overflow: auto;
}

.results .search {
  width: 35%;
  text-align: center;
}

.results .results-output {
  width: 96%;
  overflow: auto;
}

