body {
  background-color: rgb(189, 223, 252);
}

#topTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 150, 240);
  height: 150px;
  padding: 1px;
  color: white;
  margin-bottom: 1px;
}

h1 {
  color: white;
  align-items: center;
  font-size: 100px;
}
