ul {
  list-style-type: none;
}

li {
  padding: 10px;
  font-size: 20px;
}

.navContainer {
  display: flex;
  justify-content: center;
  color: white;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: red;
}